.mainFloatingButton {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background-color: #6a00f4;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
}

.mainFloatingButton:hover {
    background-color: #4a00b4;
}

/* Button inside drawer (right middle side) */
.drawerFloatingButton {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    background-color: #6a00f4;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.drawerFloatingButton:hover {
    background-color: #4a00b4;
}

.iconStyle {
    color: white;
    font-size: 20px;
}
.smallDetail{
    margin-left: 1rem;
    display: flex;
    justify-content: start;
    gap: 2rem;
}
.pic{
    width: 5rem;
    height: 5rem;
    border-radius: 6px;
    background-color: aquamarine;
}
.feedOptions{
    display: flex;
    justify-content: space-around;
}
.feedCard{
    padding: 20px;
    padding-inline: 50px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.feedText{
   p{
    margin-top: -10px;
    width: 12rem;
   }

}
.uploadSection{
    padding: 50px;
    margin-top: 50px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.button{
    height: 2rem;
    width: 7rem;
    color: #7E22CE;
    border: 1.93px solid #7E22CE;
}
.modalHeading{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upload{
    border-radius: 1rem;
    padding: 10px;
    padding-top: 20px;
    width: 10rem;
    height: 40px;
    background-color: black;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    cursor: pointer;
}
.upButt{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
}
.logoo{
    width: 200px;
    margin: 1rem;
}
.nameInput{
    width: 100%;
    height: 3rem;
    border: 1px solid gray;
    border-radius: 7px;
}
.marker-text {
    color: #7E22CE;
  }

.selectButt{
    width: 10rem;
    background-color: white;
    color: #7E22CE;
    border: 1px solid #7E22CE;
    cursor: pointer;
    border-radius: 3rem;
}
  